* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-principal-fundo: #eefaf5;
}

body {
  font-family: "Raleway", sans-serif;
}

main {
  position: relative;
  min-height: 100vh;
  background: rgba(123, 198, 168, 0.3);
}
.error-message h3 {
  text-align: center;
  position: fixed;
  top: 50px;
  left: 50%;
  width: 550px;
  transform: translate(-50%, -50%);
  background-color: #a3c8b9;
  color: black;
  padding: 15px 15px;
  border: 2px solid #4b6660;
  border-radius: 5px;
}
.error-message p{
  position: fixed;
  top: 110px;
  left: 50%;
  width: 550px;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 15px 15px;
  border: 2px solid #4b6660;
  border-radius: 5px;
}

.error-message button{
  cursor: pointer;
  position: fixed;
  top: 135px;
  left: 66%;
  padding: 0.3rem;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  background-color: #a3c8b9;
  color: black;
  border: none;
}
.error-message button:hover{
  background-color: #a3c8b9;
}
header {
  position: relative;
}

.enfeite3 {
  position: absolute;
  left: 60px;
  top: 50px;
  width: 3%;
}

header h1 {
  padding: 2rem;
  font-size: 3rem;
  color: black;
}

.titulo {
  width: 15%;
  margin-left: 5rem;
}

.downloadEupload {
  text-align: center;
  margin-top: 3rem;
}
.redirecionarFerramentaPlanilhas{
  position: absolute;
  right: 155px;
  top: 68px;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 1rem;
}
.entradaDeDados {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.download p {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}
.download i{
  color: #000000;
  transform: scale(2.5);
}
.upload {
  display: flex;
  gap: 2rem;
  align-items: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 1rem;
  /*color: white;*/
}

form label {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}

#uploadLabel {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}

.fa-solid {
  font-weight: 900;
  transform: scale(1.5);
  margin-bottom: 6%;
}

#nomeAquivo {
  width: 50%;
  font-size: 1rem;
  word-break: break-word;
}

#file {
  display: none;
  /* Oculta o input de arquivo */
}

#uploadImage {
  text-align: center;
  transform: scale(3);
}

.submit {
  width: 50%;
  margin-top: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  letter-spacing: 1.5px;
  background-color: var(--verdeEscuro);
  color: var(--brancoletras);
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
  /* box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);*/
}

.submit:hover {
  text-decoration: none;
  color: var(--preto-princial);
  background-color: var(--verdeFundo);
  color: var(--preto-princial);
}

#resultadoDataframe {
  padding: 1rem 8rem;
  height: 60vh;
  overflow: scroll;
}


#resultadoDataframe::-webkit-scrollbar {
    width: 5px;
    /* Largura da barra de rolagem */
    height: 30%;
  }
  
  #resultadoDataframe::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--brancoletras);
    /* Cor do fundo da barra de rolagem */
  }
  
  #resultadoDataframe::-webkit-scrollbar-thumb {
    background-color: var(--verdeFundo);
    /* Cor da alça da barra de rolagem */
    border-radius: 5px;
  }
  
  #resultadoDataframe::-webkit-scrollbar-thumb:hover {
    background-color: var(--verdeFundo);
    /* Cor da alça da barra de rolagem ao passar o mouse */
  }
.enfeite1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.enfeite2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

table {
  border-collapse: collapse;
  font-weight: 400;
  border-radius: 10px;
    overflow: hidden;
}

table thead {
  text-transform: capitalize;
  background-color: #628879;
  color: white;
  font-size: 0.8rem;
  border-radius: 12px 12px 0 0;
}
table tbody {
  font-size: 0.9rem;
  border-radius: 0 0 12px 12px;
}

table tbody tr:nth-last-child() {
  border-bottom-right-radius: 1.2rem;
}

th,
td {
  padding: 0.6rem 0.6rem;
  text-align: center;
}

table tbody tr:nth-child(odd) {
  background: #f7f0f5;
}

table tbody tr:nth-child(even) {
  background-color: white;
}
th.borda, td.borda {
  border-radius: 0 10px 10px 0; /* Adiciona borda arredondada apenas à direita */
  background-color: transparent; /* Remove a cor de fundo */
}


.excluir_col {
  background-color: #d7eee5;
}

#botaoExcluir{
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #628879;
  background-color: white;
  /* font-weight: bold; */
  border: none;
}
#botaoExcluir:hover{
  background-color: black;
  color: white;
}

#form_salvarPlanilha{
  display: flex;
}
.salvar_excel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 3rem;
}

#form_salvarPlanilha {
  display: flex;
  width: 10%;
}
#form_salvarPlanilha{
  width: 15%;
}
.salvar_planilha {
  padding: 0.5rem 1.9rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background: #628879;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.salvar_planilha:hover {
  background-color: #a3c8b9;
  color: black;
}
.downloadPlanilha{
  width: 10%;
}
#uploadNovaTurma {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  border: none;
  color: #628879;
  background: white;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

#uploadNovaTurma:hover {
  background-color: black;
  color: #628879;
}
#redirecionarFerramenta{
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  border: none;
  color: #628879;
  background: white;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.alunosProblema{
  display: none;
  padding: 1rem 8rem;
  text-align: center;
  margin-top: 2rem;
}

.alunosProblema h2{
  font-size: 1rem;
  color: red;
  margin-bottom: 1rem;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #4b6660;
}

footer p {
  font-size: 18px;
}
